* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  /* min-height: 100vh;  */
  /* transform: scale(1.5px); */
  font-size: 23px;
  color: white;
  background-color: rgb(10, 10, 10);
  /* border: 2px solid white; */
}

.whole-container {
  width: 100vw;
  height: 100vh;
  border: 2px solid white;
  /* overflow: hidden; */
  position: absolute;
  z-index: 10;
}

#thingmabob {
  text-align: center;
}

.carrot {
  margin-left: -10px;
}

#doohickey {
  display: inline-block;
  margin-bottom: 10px;
}

#ultra-container {
  display: inline-block;
}

#ultra {
  margin-bottom: 10px;
  width: 209px;
  background-color: white;
  color: black;
  /* border-bottom: 5px gray solid;
  border-right: 10px gray solid;
  border-left: 5px gray solid;
  border-top: 10px gray solid; */
}

#jit-area {
  text-align: left;
  margin-top: 10px;
}

#jit-area-container {
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}

h1 {
  text-align: center;
  margin-top: 13%;
  /* font-size: 22.5px; */
  font-size: 27px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* .footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
} */

/* .footer-right {
  text-align: right;
  float: right;
  position: absolute;
  bottom: 10px;
  z-index: 10;
} */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* background-color: #f8f8f8; */
  padding: 10px;
  /* box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);  */
}

.flex-row-container {
  display: flex;
  justify-content: space-between;
}

.flex-row-item {
  flex: 1;
  text-align: center;
  margin-bottom: 10px;
}
